<div class="container-fluid" id="cardapio">
  <a id="none" href=""><img class="whatsapp" src="/img/whats.png" alt=""></a>
  <div class="menu">
    <div class="colunm">
      <a href="/">H o m e</a>
      <a href="/nossaequipe">E q u i p e</a>
      <a href="/contato">C o n t a t o</a>
    </div>
  </div>
  <img class="sandbar" src="/img/menu.png"/>
  <nav>
    <div class="navbar">
      <a id="none" href="/"><img
          class="navbar-brand"
          src="/img/logo balão branco.png"
        /></a>
      <div class="nav-items">
        <a href="/">H o m e</a>
        <a href="/nossaequipe">E q u i p e</a>
        <a href="/contato">C o n t a t o</a>
      </div>
    </div>
  </nav>
  <div class="container-cardapio">
    <div class="card">
      <h4>Opções para o dia todo</h4>
      <table>
        <tr>
          <td>
            <h5>Pão na chapa</h5>
            <p>com manteiga ou requeijão</p>
          </td>
          <td class="price">R$ 10,00</td>
        </tr>
        <tr>
          <td>
            <h5>Americano no pão francês</h5>
            <p>presunto, queijo, tomate e ovo</p>
          </td>
          <td class="price">R$ 26,00</td>
        </tr>
        <tr>
          <td>
            <h5>Queijo quente</h5>
            <p>com tomate e orégano</p>
          </td>
          <td class="price">R$ 20,00</td>
        </tr>
        <tr>
          <td>
            <h5>Misto quente</h5>
          </td>
          <td class="price">R$ 18,00</td>
        </tr>
        <tr>
          <td>
            <h5>Ovo Mexido</h5>
          </td>
          <td class="price">R$ 12,00</td>
        </tr>
        <tr>
          <td>
            <h5>Tapioca</h5>
            <p>com crosta de queijo</p>
          </td>
          <td class="price">R$ 26,00</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h4>ProsaBurgers</h4>
      <table>
        <tr>
          <td>
            <h5>PCQ</h5>
            <p><span>Pão, blend de carne prosa e queijo cheddar</span></p>
          </td>
          <td class="price">R$ 34,00</td>
        </tr>
        <tr>
          <td>
            <h5>PCQ Salada</h5>
            <p>Pão, blend de carne prosa, queijo cheddar, alface e tomate</p>
          </td>
          <td class="price">R$ 36,00</td>
        </tr>
        <tr>
          <td>
            <h5>PCQ Bacon</h5>
            <p>Pão, blend de carne prosa, queijo cheddar e bacon</p>
          </td>
          <td class="price">R$ 36,00</td>
        </tr>
        <tr>
          <td>
            <h5>PCQ Turbo</h5>
            <p>Pão, blend de carne prosa, queijo cheddar, alface, tomate, bacon
              e picles</p>
          </td>
          <td class="price">R$ 39,00</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h4>Petiscos</h4>
      <table>
        <tr>
          <td>
            <h5>Batata frita</h5>
          </td>
          <td class="price">R$ 24,00</td>
        </tr>
        <tr>
          <td>
            <h5>Calabresa Acebolada</h5>
          </td>
          <td class="price">R$ 35,00</td>
        </tr>
        <tr>
          <td>
            <h5>Bolinho de carne louca</h5>
          </td>
          <td class="price">R$ 38,00</td>
        </tr>
        <tr>
          <td>
            <h5>Bolinho de bacalhau</h5>
          </td>
          <td class="price">R$ 34,00</td>
        </tr>
        <tr>
          <td>
            <h5>Mandioca crocante</h5>
            <p>com parmesão</p>
          </td>
          <td class="price">R$ 24,00</td>
        </tr>
        <tr>
          <td>
            <h5>Dadinho de Tapioca</h5>
            <p>com geléia de pimenta</p>
          </td>
          <td class="price">R$ 28,00</td>
        </tr>
        <tr>
          <td>
            <h5>Tiras de filé mignon</h5>
            <p>com cebola e pãozinho</p>
          </td>
          <td class="price">R$ 46,00</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h4>Bebidas sem álcool</h4>
      <table>
        <tr>
          <td>
            <h5>Água com/sem gás</h5>
          </td>
          <td class="price">R$ 6,00</td>
        </tr>
        <tr>
          <td>
            <h5>Refrigerante</h5>
          </td>
          <td class="price">R$ 7,00</td>
        </tr>
        <tr>
          <td>
            <h5>Água de coco</h5>
          </td>
          <td class="price">R$ 7,00</td>
        </tr>
        <tr>
          <td>
            <h5>Ice Tea (300ml)</h5>
          </td>
          <td class="price">R$ 7,00</td>
        </tr>
        <tr>
          <td>
            <h5>Água tônica</h5>
          </td>
          <td class="price">R$ 7,00</td>
        </tr>
        <tr>
          <td>
            <h5>Suco de caixinha</h5>
          </td>
          <td class="price">R$ 7,00</td>
        </tr>
        <tr>
          <td>
            <h5>Red Bull</h5>
          </td>
          <td class="price">R$ 12,00</td>
        </tr>
        <tr>
          <td>
            <h5>Toddynho</h5>
          </td>
          <td class="price">R$ 6,50</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h4>Bebidas Matinais</h4>
      <table>
        <tr>
          <td>
            <h5>Café expresso</h5>
          </td>
          <td class="price">R$ 8,00</td>
        </tr>
        <tr>
          <td>
            <h5>Cappuccino</h5>
          </td>
          <td class="price">R$ 12,00</td>
        </tr>
        <tr>
          <td>
            <h5>Café com leite</h5>
          </td>
          <td class="price">R$ 10,00</td>
        </tr>
        <tr>
          <td>
            <h5>Chocolate quente</h5>
          </td>
          <td class="price">R$ 12,00</td>
        </tr>
        <tr>
          <td>
            <h5>Chocolate frio</h5>
          </td>
          <td class="price">R$ 12,00</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h4>Drinks</h4>
      <h6>Sabores: limão, frutas vermelhas e maracujá</h6>
      <table>
        <tr>
          <td>
            <h5>GinTônica (Taqueray)</h5>
          </td>
          <td class="price">R$ 34,00</td>
        </tr>
        <tr>
          <td>
            <h5>Caipirinha (Velho Barreiro)</h5>
          </td>
          <td class="price">R$ 27,00</td>
        </tr>
        <tr>
          <td>
            <h5>Caipiroska (Vodka Absolut)</h5>
          </td>
          <td class="price">R$ 29,00</td>
        </tr>
        <tr>
          <td>
            <h5>Saketita</h5>
          </td>
          <td class="price">R$ 29,00</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h4>Cervejas</h4>
      <table>
        <tr>
          <td>
            <h5>Heineken (350ml)</h5>
          </td>
          <td class="price">R$ 9,00</td>
        </tr>
        <tr>
          <td>
            <h5>Stella Artois (269ml)</h5>
          </td>
          <td class="price">R$ 7,00</td>
        </tr>
        <tr>
          <td>
            <h5>Baden Baden</h5>
          </td>
          <td class="price">R$ 15,00</td>
        </tr>
        <tr>
          <td>
            <h5>Brahma Duplo Malte (350ml)</h5>
          </td>
          <td class="price">R$ 9,00</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h4>Para adoçar o dia</h4>
      <table>
        <tr>
          <td>
            <h5>Kit kat</h5>
          </td>
          <td class="price">R$ 4,00</td>
        </tr>
        <tr>
          <td>
            <h5>Bala Fini</h5>
          </td>
          <td class="price">R$ 3,00</td>
        </tr>
        <tr>
          <td>
            <h5>2 unid chiclete</h5>
          </td>
          <td class="price">R$ 1,50</td>
        </tr>
        <tr>
          <td>
            <h5>Paçoca</h5>
            <p></p>
          </td>
          <td class="price">R$ 2,00</td>
        </tr>
      </table>
    </div>
    
  </div>
</div>