<div class="container-fluid">
  <a id="none" href=""><img class="whatsapp" src="/img/whats.png" alt=""></a>
  <div class="container-fluid">
   <div class="menu">
    <div class="colunm">
      <a href="/">H o m e</a>
        <a href="/cardapio">C a r d á p i o</a>
        <a href="/nossaequipe">E q u i p e</a>
    </div>
  </div>
  <img class="sandbar" src="/img/menu.png"/>
  <nav>
    <div class="navbar">
      <a id="none" href="/"><img
          class="navbar-brand"
          src="/img/logo balão branco.png"
        /></a>
      <div class="nav-items">
        <a href="/">H o m e</a>
        <a href="/cardapio">C a r d á p i o</a>
        <a href="/nossaequipe">E q u i p e</a>
      </div>
    </div>
  </nav>
  <main>
    <form id="contato" action="/sendcontact" method="POST">
      <div class="form-group contact">
        <h2>Fale com o Prosa:</h2>
      </div>
      <div class="form-group">
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="Seu nome"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="E-mail"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="subject"
          class="form-control"
          placeholder="Assunto"
        />
      </div>
      <div class="form-group">
        <textarea
          name="message"
          class="form-control"
          placeholder="Sua mensagem"
        ></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-light" value="Enviar" />
      </div>
      {{#if enviado}}
        <div class="alert">
          Mensagem enviada com sucesso!
        </div>
        <script>
          setTimeout(function() { window.location.href = '/' }, 4000)
        </script>
      {{/if}}
    </form>
  </main>
</div>