<div class="container-fluid" id="equipe">
  <a id="none" href=""><img class="whatsapp" src="/img/whats.png" alt=""></a>
  <div class="menu">
    <div class="colunm">
      <a href="/">H o m e</a>
        <a href="/cardapio">C a r d á p i o</a>
        <a href="/contato">C o n t a t o</a>
    </div>
  </div>
  <img class="sandbar" src="/img/menu.png"/>
  <nav>
    <div class="navbar">
      <a id="none" href="/"><img
          class="navbar-brand"
          src="/img/logo balão branco.png"
        /></a>
      <div class="nav-items">
        <a href="/">H o m e</a>
        <a href="/cardapio">C a r d á p i o</a>
        <a href="/contato">C o n t a t o</a>
      </div>
    </div>
  </nav>
  <main>    
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="/img/leticia.png" />
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/fabio.png" />
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/lu.png" />
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/didi.png" />
      </div>
    </div>
  </main>
</div>