<div class="container-fluid" id="home">
  <a id="none" href=""><img class="whatsapp" src="/img/whats.png" alt="" /></a>
  <div class="menu">
    <div class="colunm">
      <a href="/cardapio">C a r d á p i o</a>
      <a href="/nossaequipe">E q u i p e</a>
      <a href="/contato">C o n t a t o</a>
      <a href="/login">L o g i n</a>
    </div>
  </div>
  <img class="sandbar" src="/img/menu.png"/>
  <nav>
    <div class="navbar">
      <a id="none" href="/"><img
          class="navbar-brand"
          src="/img/logo balão branco.png"
        /></a>
      <div class="nav-items">
        <a href="/cardapio">C a r d á p i o</a>
        <a href="/nossaequipe">E q u i p e</a>
        <a href="/contato">C o n t a t o</a>
        <a href="/login">L o g i n</a>
      </div>
    </div>
  </nav>
  <main>
    <img src="/img/banner.png" />
  </main>
</div>