<div class="container-fluid">
  <nav>
    <div class="navbar">
      <a id="none" href="/"><img
          class="navbar-brand"
          src="/img/logo balão branco.png"
        /></a>
    </div>
  </nav>
  <main>
    <form id="login" action="/login" method="POST">
      <div class="form-group contact">
        <h2>Fazer login:</h2>
      </div>
      <div class="form-group">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="E-mail"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="senha"
          class="form-control"
          placeholder="Senha"
        />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-light" value="Entrar" />
      </div>
      {{#if erro}}
        <div class="erro">
          E-mail ou senha incorretos!
        </div>
        <script>
          setTimeout(function() { window.location.href = '/login' }, 2000)
        </script>
      {{/if}}
    </form>
  </main>
</div>